/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
  height: 100%;
  display: block;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  margin-left: 0px;
  color: white;
  padding: 0px;
}
.menu {
  background-color: rgb(0, 0, 0);/* Fundo com gradiente */
  height: 100px; /* Altura do menu */
  grid-template-columns: auto auto auto;
  gap: 100px;
  display: grid;
  padding: 20px 0;
}
.logo{
  margin: 0 auto;
}
form input {
  margin: 0 auto;
  width: 350px;/* Largura total */
  height: 50px;/* Altura do campo */
  background-color: #ffffff; /* Fundo branco */
  border: none;  /* Remove borda */
  border-radius: 50px; /* Bordas arredondadas */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 25px;  /* Tamanho da fonte */
  padding-left: 20px; /* Espaçamento à esquerda dentro do campo */
}
.icone{
  margin: 0 auto;
}
.icone:hover{
  transition: 0.1s;
  transform: scale(1.1);
}
.opcoes{
  background-color: #c0c0c013;
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
ul {
  display: inline-block;
  padding: 0px;
}
li {
  padding: 15px;
  display: inline-block;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
li:hover {
  background-color: rgb(207, 221, 233);
  border-radius: 0px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
}
.biblioteca {
  background-image: linear-gradient(to right, #c0c0c028,rgb(255, 255, 255), rgb(255, 255, 255) , #c0c0c028);  /* Cor de fundo */
  width: 80%; /* Define a largura da div */
  margin: 0 auto; /* Centraliza horizontalmente */
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  grid-template-columns: auto auto auto;
  gap: 30px;
  display: grid;
}
#btn-comprar{
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  padding: 5px;
}
#btn-comprar a{
  color: #ffffff;
  font-size: 20px;
}
#btn-comprar:hover{
  transition: 0.1s;
  transform: scale(1.05);
}
.livro {
  padding:15px;  /* Preenchimento interno */
  margin: 0 auto;  /* Centraliza a tabela */
  width: 150px;  /* Largura do livro */
  margin: 10px;  /* Sem margens */
  border: 1px solid rgba(128, 128, 128, 0.356);/* Borda*/
  border-radius: 10px;  /* Bordas arredondadas */
}
.img {
  height: 200px;  /* Altura da imagem */
  width: 100%;  /* Largura total */
  border-radius: 0px;  /* Bordas arredondadas */
}
.img:hover {
  transition: 0.1s;
  transform: scale(1.05);
}
p {
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
}

