/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;
}
nav{
  background-color: black;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center; 
   color: rgb(0, 0, 0);
}
.container{
  position: relative;
  height: 100vh;  /* Altura da tela */
  
}

.signup-screen{
  position: absolute;
  top: 40%;       /* Coloca no meio da tela verticalmente */
  left: 50%;      /* Coloca no meio da tela horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para o centro exato */
  width: 50vh;
}